pyarrow==16.0.0 # 16.1.0 segfaults
datasets
openai
tiktoken
anthropic
tenacity
boto3
jedi
unidiff
python-dotenv
chardet
GitPython
ghapi==1.0.5
transformers==4.41.2
sentencepiece==0.2.0
protobuf==5.27.1
